extends ./main.jade
block content
	.container
		include ./nav.jade
		.section.brown-background#welcome
			.paragraph
				h1.serif-font.white
					span.first-letter H
					| istorically Funny.
				h2.serif-font.white
					span.first-letter H
					| ysterically Inaccurate.
				p.sans-font.white
					| Improvised History is a fully improvised comedy show which invites the audience to collaborate on a new chapter in a US history textbook. Famous (and not-so-famous) figures are brought back to life in front of your eyes. It all begins when the audience picks a page from a real US history textbook, then hilarity ensues as the improvisers rewrite that chapter in history with their own (mis)interpretations. Most performances are in the Boston area, but the cast has been known to hitch up the wagons and explore new lands! We also do private events, which are great for making history fun and accessible! Be sure to
					a(href='#contact')
						| get in touch
					|  if you would like to know where our manifest destiny takes us next.
		.section.off-white-background#schedule
			h2.serif-font.section-header
				span.first-letter S
				| how 
				span.first-letter S
				| chedule
			table.sans-font#show-dates
				tr
					th.show-date DATE
					th.show-time TIME
					th.show-location LOCATION
					th.tickets TICKETS
				if showError
					tr
						td.centered-content(colspan="4")
							h3 Problem Loading Shows. Please try again later.
							p.sans-font 
								| If the problem persists, please 
								a(href="mailto:improvisedhistory@gmail.com") email us.
				if shows
					each show in shows
						tr(id=show.slug)
							td.show-date= show.date
							td.show-time= show.time
							td.show-location
								if show.venue
									= show.venue.displayName
							if show.ticketLink
								td.tickets
									a.ticket-link(href=ticketLink)
							else
								td.tickets Coming Soon
						tr.hide.location-info.lighter-off-white-background(id=show.slug + '-expand' )
							td(colspan="4")
								h3.venue-name= show.venue.displayName
								if show.venue
									h4.show-name= show.showName
									a.address(href=show.venue.addressLink target="_blank")
										p= show.venue.addressStreet
										p= show.venue.addressCity
								p.mobile-only= show.time
								p.show-description= show.showDescription
					else
						tr
							td.centered-content(colspan="4")
								h3.black.sans-font No Upcoming Shows
								p.black.sans-font 
									| Want us to perform for you? 
									a(href="mailto:improvisedhistory@gmail.com") Send us an email!
		.section.brown-background#cast
			.content
				h2.section-header.serif-font.white
					span.first-letter M
					| eet the 
					span.first-letter C
					| ast
				.centered-max-width.centered-content
					.cast-member
						#David.cast-member-photo
							img(src='images/David.jpg')
						h4.cast-name.white.sans-font David Fouhy
					.cast-member
						#jackie.cast-member-photo
							img(src='images/Jackie.jpg')
						h4.cast-name.white.sans-font Jackie Presedo
					.cast-member
						#lauren.cast-member-photo
							img(src='images/Lauren.jpg')
						h4.cast-name.white.sans-font Lauren Magnuson
					.cast-member
						#scott.cast-member-photo
							img(src='images/scott.jpg')
						h4.cast-name.white.sans-font Scott Istvan
					.cast-member
						#michael.cast-member-photo
							img(src='images/michael.jpg')
						h4.cast-name.white.sans-font Michael Milton
					.cast-member
						#britt.cast-member-photo
							img(src='images/britt.jpg')
						h4.cast-name.white.sans-font Britt Mitchell
					.cast-member
						#phil.cast-member-photo
							img(src='images/Phil.jpg')
						h4.cast-name.white.sans-font Phil Jaffe
					.cast-member
						#ryan.cast-member-photo
							img(src='images/Ryan.jpg')
						h4.cast-name.white.sans-font Ryan Pierannunzi
					.cast-member
						#sarah.cast-member-photo
							img(src='images/Sarah.jpg')
						h4.cast-name.white.sans-font Sarah Jacobs
		include ./contact.jade




