extends ./main.jade
block content
	.container
		include ./nav.jade
		.section.brown-background#welcome
			.paragraph
				h1.serif-font.white
					span.first-letter H
					| istorically Funny.
				h2.serif-font.white
					span.first-letter H
					| ysterically Inaccurate.
				p.sans-font.white
					| Improvised History is a fully improvised comedy show which brings to life famous (and not-so-famous) figures back to life in front of your eyes. We start with a variety of source materials, from a US History textbook to Howard Zinn's A People's History of the United States to actual area historians, and then hilarity ensues as the improvisers rewrite that chapter in history with their own (mis)interpretations. Most performances are in the Boston area, but the cast has been known to hitch up the wagons and explore new lands! We also do private events, which are great for making history fun and accessible! Be sure to
					a(href='#contact')
						| get in touch
					|  if you would like to know where our manifest destiny takes us next.
		.section.off-white-background#schedule
			h2.serif-font.section-header
				span.first-letter S
				| how 
				span.first-letter S
				| chedule
			table.sans-font#show-dates
				tr
					th.show-date DATE
					th.show-time TIME
					th.show-location LOCATION
					th.tickets TICKETS
				if showError
					tr
						td.centered-content(colspan="4")
							h3 Problem Loading Shows. Please try again later.
							p.sans-font 
								| If the problem persists, please 
								a(href="mailto:improvisedhistory@gmail.com") email us.
				if shows
					each show in shows
						tr(id=show.slug)
							td.show-date= show.formattedDate
							td.show-time= show.time
							td.show-location
								if show.venue
									= show.venue.displayName
							if show.ticketLink
								td.tickets
									a.ticket-link.white.brown-background(href=show.ticketLink) Click Here!
							else
								td.tickets Coming Soon
						tr.hide.location-info.lighter-off-white-background(id=show.slug + '-expand' )
							td(colspan="4")
								h3.venue-name= show.venue.displayName
								if show.venue
									h4.show-name= show.showName
									a.address(href=show.venue.addressLink target="_blank")
										p= show.venue.addressStreet
										p= show.venue.addressCity
								p.mobile-only= show.time
								p.show-description= show.showDescription
					else
						tr
							td.centered-content(colspan="4")
								h3.black.sans-font No Upcoming Shows
								p.black.sans-font 
									| Want us to perform for you? 
									a(href="mailto:improvisedhistory@gmail.com") Send us an email!
		.section.brown-background.centered-content#faq
			.content
				h2.section-header.serif-font.white
					span.first-letter F
					| requently 
					span.first-letter A
					| sked 
					span.first-letter Q
					| uestions
				.centered-max-width
					ul.info-list.white
						li
							h3.serif-font For what ages is your show appropriate?
							p.sans-font 
								| Because the show is improvised, we can tailor it to our audience on the fly. Because we are dealing with historical content, generally the show is most entertaining for those who have completed some high school history. Also, because love, lust, anger, and hatred existed in the past as they do today, some scenes can be PG-13 or greater for content. However, if we see kids in the audience, we'll tone it down.
						li
							h3.serif-font What kind of history do you cover?
							p.sans-font
								| We focus primarily on US history because that is most accessible to our audiences and cast, but we have been known to venture into Ancient Rome or the Renaissance. 
						li
							h3.serif-font This sounds awesome, can I get involved?
							p.sans-font
								| Sure! We're often looking for guest speakers to inspire our shows. Send us an email or a tweet from the links at the bottom of the page. We also occasionally hold auditions; the best way to find out about those is following us on twitter or facebook.
						li
							h3.serif-font Can I hire you for an event at my school/organization?
							p.sans-font
								| Absolutely! We've done a few private shows in the past and they're always a bunch of fun. If you provide us the venue, we're happy to perform for you for a small fee. Send us an email if you want to discuss specifics. 
					
		include ./contact.jade




